<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/amdcpu/0/load/1/plot" value="false" />
    <add key="/amdcpu/0/load/2/plot" value="false" />
    <add key="/amdcpu/0/load/3/plot" value="false" />
    <add key="/amdcpu/0/load/4/plot" value="false" />
    <add key="/amdcpu/0/load/0/plot" value="false" />
    <add key="/amdcpu/0/clock/1/plot" value="false" />
    <add key="/amdcpu/0/clock/2/plot" value="false" />
    <add key="/amdcpu/0/clock/3/plot" value="false" />
    <add key="/amdcpu/0/clock/4/plot" value="false" />
    <add key="/amdcpu/0/temperature/0/plot" value="false" />
    <add key="/amdcpu/1/load/1/plot" value="false" />
    <add key="/amdcpu/1/load/2/plot" value="false" />
    <add key="/amdcpu/1/load/3/plot" value="false" />
    <add key="/amdcpu/1/load/4/plot" value="false" />
    <add key="/amdcpu/1/load/0/plot" value="false" />
    <add key="/amdcpu/1/clock/1/plot" value="false" />
    <add key="/amdcpu/1/clock/2/plot" value="false" />
    <add key="/amdcpu/1/clock/3/plot" value="false" />
    <add key="/amdcpu/1/clock/4/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/0/plot" value="false" />
    <add key="/nvidiagpu/0/fan/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/1/plot" value="false" />
    <add key="/nvidiagpu/0/clock/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/2/plot" value="false" />
    <add key="/nvidiagpu/0/control/0/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/2/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/3/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/1/temperature/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="/hdd/2/temperature/0/plot" value="false" />
    <add key="/hdd/2/load/0/plot" value="false" />
    <add key="/hdd/3/temperature/0/plot" value="false" />
    <add key="/hdd/3/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="628" />
    <add key="mainForm.Location.Y" value="24" />
    <add key="mainForm.Width" value="654" />
    <add key="mainForm.Height" value="855" />
    <add key="/lpc/it8721f/voltage/0/plot" value="false" />
    <add key="/lpc/it8721f/voltage/1/plot" value="false" />
    <add key="/lpc/it8721f/voltage/2/plot" value="false" />
    <add key="/lpc/it8721f/voltage/3/plot" value="false" />
    <add key="/lpc/it8721f/voltage/4/plot" value="false" />
    <add key="/lpc/it8721f/voltage/5/plot" value="false" />
    <add key="runSerialMenuItem" value="true" />
    <add key="/lpc/it8721f/voltage/7/plot" value="false" />
    <add key="/lpc/it8721f/voltage/8/plot" value="false" />
    <add key="/lpc/it8721f/temperature/0/plot" value="false" />
    <add key="/lpc/it8721f/temperature/1/plot" value="false" />
    <add key="/lpc/it8721f/fan/0/plot" value="false" />
    <add key="/lpc/it8721f/fan/2/plot" value="false" />
    <add key="logSensorsMenuItem" value="true" />
    <add key="nMinFan" value="20" />
    <add key="/hdd/0/load/0/values" value="H4sIAAAAAAAEAJt2ZsmpNyXXPBgYDvwHADZsmlgMAAAA" />
    <add key="/hdd/1/temperature/0/values" value="H4sIAAAAAAAEAJum+fLUm5JrHgwMB/4DAMPvvGUMAAAA" />
    <add key="/hdd/1/load/0/values" value="H4sIAAAAAAAEAJum+fLUm5JrHgwMB/4DAMPvvGUMAAAA" />
    <add key="nMaxFan" value="100" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/3/temperature/0/values" value="H4sIAAAAAAAEAFuRYXT6Tck1DwaGA/8BC6zoPwwAAAA=" />
    <add key="startMinMenuItem" value="true" />
    <add key="/lpc/it8721f/voltage/6/plot" value="false" />
    <add key="/nvidiagpu/0/load/0/values" value="H4sIAAAAAAAEAFORtOzyfnLNg4HhwP/T3gGMDGDwwP70tXgmCJvBoftAEoxtnzILxn7gcF0HxjZwuJUNYzc4vDeBsRc4/LySCBO3SymCiTs4iPQnQ9kpjtP2wtQ42D+C23XDYeccmPgBhwgXuBscluXA2AUOtfdgahgYjl2Bic9w2HUM7gb7t8rJcDdM70yA2xXwfytUZ4P9TY6jMLZdUqkIzEh7ywwDuJpJm1Xh7KATAgywsNrtKgZlH7Cf7N3OCDNn3zV4mNinTYKz7RZmwcPEHgCJoEqOgAEAAA==" />
    <add key="/nvidiagpu/0/load/1/values" value="H4sIAAAAAAAEAFORtOzyfnLNg4HhwP/T3gGMDGCwwuH0tXgmCHuBQ/eBJCh7gkPKLBj7g8N1HRh7h8OtbBj7hsN7Exj7gcPPK4lQ9gyHlCKY+AYHkf5kKFvGcdreRLj5j+B2/XDYOQcm/sIhwgVh17IcGPuEQ+09hPnHriTB1e86BmOvcHirnAw3f3pnAlx9wP+tDDA/3uQ4CmV3OCSVijDA1FtmGMDVzD/oA2dP9m5nhJmz7xoifNImIdgLsxLhbgAAlVZkimgBAAA=" />
    <add key="/nvidiagpu/0/load/2/values" value="H4sIAAAAAAAEAFORtOzyfnLNg4HhwP/T3gGMDFBgNoHFAsYGAPzazu0kAAAA" />
    <add key="/nvidiagpu/0/load/3/values" value="H4sIAAAAAAAEADN2sOzyfnLNg4HhwP8bXgGMDEAQ86DS8eb1eCYQ20ajyrHwQBKYLWNX5RhSDGHXfKtyvK4DYfvtaXS8lQ1h83U1OJYmQth/XtU5Fq9IBLNzfOsdD0+FiKso1DjempQMZotkVjkW74WoeRJX6/hgJkTNvrwqxw2HIeI2JXWOG5wh4jpLahyzciHsO811jlnbIWrmXKlxfPkfKl5Q6zjrEJSdVef46g+EfWZ5neOqDQlwts//rQxgfy2uc1z++S4TjL1uPUS9T1OdY9okqDnydY4LsyB2xVjUOAIAgkZDuTgBAAA=" />
    <add key="/nvidiagpu/0/smalldata/1/values" value="H4sIAAAAAAAEADN2sOzyfnLNg4HhwP8bXgGMDEAgwBrhevN6PBOIPeFnuGvhgSQwW+BbuGtIMYQ94Ua463UdqHhNmOutbCj7XphraSJUjVm4a/GKRDD7glq46+GpEPEPK8Jdb01KBrMN3gPV7IWo+VAa7vpgJkSNx7tw1w2HIeITPIFsZ4j4hcnhrlm5ULvcgeztEDUCPeGuL/9DxYvDXWcdgrK9w11f/YGwAxzDXVdtSICzff5vZQCrcQp3Xf75LhOMvW49VD3Q/LRJUHPCw10XZkHtWhruCgDzT7CnOAEAAA==" />
    <add key="/nvidiagpu/0/smalldata/2/values" value="H4sIAAAAAAAEADN2sOzyfnLNg4HhwP8bXgGMDEBw4LW8y83r8UxgtqSCS+GBJAhbXcElpBjKnqvgcl0HyuZXc7mVDWW3q7iUJkLZqsouxSsSIewUZZfDUyHiDjGKLrcmJUPYzgouxXshahw0lFwezISoeeCm4LLhMFTvTSWXDc5QMzcoumTlQtmPlVyytkPVnFd0efkfKm6s5DLrEJR9Wcnl1R8o+5eSy6oNCXC2z/+tDGD2dyWX5Z/vMsHY69ZD1T9SckmbBGUvVnJZmAW1K1vRBQATzMAvOAEAAA==" />
    <add key="/nvidiagpu/0/smalldata/3/values" value="H4sIAAAAAAAEADN2sOzyfnLNg4HhwP8bXgGMDGDQ4CqVxWIBYwMAfAszKiQAAAA=" />
    <add key="/nvidiagpu/0/control/0/values" value="H4sIAAAAAAAEADN2sOzyfnLNg4HhwP89KgGMDFBgNoHFAsYGAIf80BkkAAAA" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEAEtp0O3yfnLNg4HhwP/Sxx8ZGYCgudLTabtNMhOInTzD06nqfwKYndXh6XTPCiL+9Imnk1tdEph96IanU9CJRDCb67+Hk6cCRNzsrYdTTxOE3bPdw2lFFYT9W9LLaTk/hC29K9DpcQ6Ebb002CnRG2L+E3ZfpwkOEDMnNPs48f6BqDG85e30vwcirnHI28lsEtT8Um+nCY8g7DPzvZ3k30PU2C73dmLeARHvX+LtpCsDYW9YBDTnqwKIyfBwrrfTNqljYLbETG8nnwcGYPa7Gd5Oxd4iYDYHUPzEH2Ew22COt9PH9wJgtgCQbTdVDMz+N9vbKfCWIJh9Zp6307U2SbBdDkD2ClWIv0SA7Om8KWB2TYW3EwB92aSEgAEAAA==" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEAEtp0O3yfnLNg4HhwP/Sxx8ZGYDgk1GDw3abZCYQe4Zbg0PV/wQwO8+mweGeFUTcrbzBwa0uCczuy29wCDqRCGZznKp38FSAiEdsrnfoaYKwefLrHVZUQdh8MxsclvND2EbFrQ6PcyDsLavbHBK9IeZblTU5THCAmMmm1OTA+weixmFbo8P/Hoj4t2WNDmaTIOJmZY0OEx5B2BITGx3k30PUXJna6MC8AyKuMKXRQVcGwv4wCWjOVwUQk+FBf6PDNqljYPaVnkYHnwcGYPYuILvYWwTMPgVkn/gjDGaf6Wt0+PheAMzeAWTbTRUDs9cA2YG3BMHssgmNDtfaJMF2yQDZK1Qh/mIAsqfzpoDZIhWNDgDGvB4FgAEAAA==" />
    <add key="/amdcpu/0/load/5/plot" value="false" />
    <add key="/amdcpu/0/load/6/plot" value="false" />
    <add key="/amdcpu/0/clock/5/plot" value="false" />
    <add key="/amdcpu/0/clock/6/plot" value="false" />
    <add key="/amdcpu/0/clock/0/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/0/values" value="H4sIAAAAAAAEABP5ZNHl/eSaBwPDgf8fvAMYGcBAwclY10IKxg6fm8gEYcs7Hc5KgrLlnEpzEOzQHTA1Mk7/fsHEZZ2qjyfBxe196/hhbAA1HISxeAAAAA==" />
    <add key="/hdd/3/load/0/values" value="H4sIAAAAAAAEADtl+qLL+8k1DwaGA//vcUzXZwCCLMt8JwAETAMHGAAAAA==" />
    <add key="/hdd/2/load/0/values" value="H4sIAAAAAAAEADtTeavL+8k1DwaGA/+/zF2izwAEXn8SnAA9RGXUGAAAAA==" />
    <add key="/hdd/2/temperature/0/values" value="H4sIAAAAAAAEADtTeavL+8k1DwaGA/+/zF2izwAGfxwBfOLv2BgAAAA=" />
    <add key="/hdd/0/temperature/0/values" value="H4sIAAAAAAAEALPZXrvL+8k1DwYGQScAaCFMJgwAAAA=" />
    <add key="sldPlotInterval" value="5" />
    <add key="cboMaxTempSource" value="0" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
    <add key="/nvidiagpu/0/clock/2/values" value="H4sIAAAAAAAEAFORtOzyfnLNg4HhwP/T3gGMDGDQ7eyQyWIBYwMAwd+ZLyQAAAA=" />
    <add key="/lpc/it8721f/control/0/plot" value="false" />
    <add key="/lpc/it8721f/control/1/plot" value="false" />
    <add key="/lpc/it8721f/control/2/plot" value="false" />
    <add key="sldLedBrightness" value="50" />
    <add key="sldManualColor" value="506" />
    <add key="sldManualFan" value="50" />
    <add key="chkManualColor" value="false" />
    <add key="chkManualFan" value="false" />
    <add key="nMinTemp" value="20" />
    <add key="nMaxTemp" value="80" />
    <add key="/nvidiagpu/0/clock/1/values" value="H4sIAAAAAAAEAFORtOzyfnLNg4HhwP/T3gGMDEDA2HDK2SGTxQLGBgDNqiujJAAAAA==" />
    <add key="/nvidiagpu/0/clock/0/values" value="H4sIAAAAAAAEAFORtOzyfnLNg4HhwP/T3gGMDGDA7eyQyWIBYwMAaKhplyQAAAA=" />
    <add key="/nvidiagpu/0/fan/0/values" value="H4sIAAAAAAAEAFORtOzyfnLNg4HhwP8HKgGMDFBwPpPFAsYGAFzyjsMkAAAA" />
    <add key="/amdcpu/0/clock/3/values" value="H4sIAAAAAAAEALu4irPL+8k1DwaGA/8n8dQxMgBBDrOH64IN8Uwg9nkGD9dl+5PA7EtA9o+ZEPYFIPvuzCMsMPYbY4j4RSD74qVEuBrRGQi9udnJcDM/PkmEszdOQ5i5YD5E/ByQvTkbobczF6GmcxvC/LVKCDMbFiDUu/1JgovPX58AVz/1/1YQk+EqkG3CdRTMvgJkL507Ec7u8GlnhLlh4QaEOVUTEX50y0K4AQAxwsYQRAEAAA==" />
    <add key="/amdcpu/0/clock/2/values" value="H4sIAAAAAAAEALu4irPL+8k1DwaGA/+L99UyMgBBDrOH65IN8Uwg9nkGD9dF+5PA7EtA9tuZEPYFIPvlzCMsMLaJCUT8IpDddikRrkZiBkLvnPxkuJlaDxPhbM9pCDNb50PEzwHZZ7MRertzEWrEtiHMl1dGmFm/AKHe9U8SXHza+gS4+jSGbSAmw1UgO4fzKJh9BcheNncinN3p084Ic8P8DQhzqiYi/OiTjXADAENxMq5EAQAA" />
    <add key="/amdcpu/0/clock/1/values" value="H4sIAAAAAAAEALu4irPL+8k1DwaGA/+N82sZGYAgh9nD9fiGeCYQ+zyDh+u8A0lg9iUg+91MCPsCkH1mxhEWGDvQCiJ+EchuO5sIV2M3A6HXPjsZbua9J4lw9tapCDNfLYCInwOyY7MQekXyEGq2bkeY/0MBYeaihQj1Tn+S4OIrNiTA1ff+2wpiMlwFss25joLZV4Ds5XMnwtmtPu2MMDdUrUeYs2ASwo/qWQg3AADOqiShRAEAAA==" />
    <add key="/amdcpu/0/clock/0/values" value="H4sIAAAAAAAEALtyqPTMm5JrHvfWeTgvFM1mYgACw7UezvXHs8BsEyC7Aco2RRI3ArInvMuCq4fpNQayVZpZmWFqOr/wrInLB/EO/AcAvH5HiGwAAAA=" />
    <add key="/amdcpu/0/temperature/0/values" value="H4sIAAAAAAAEALu4irPL+8k1DwaGA//dFWsZGUBAgcepbEM8E5jdwO2060AShK3A5SQ3C8pm4HIS0YWyHbicpuYgxE+zHWGBsd8VQMUTuJyWTUqGqhdz8nuaCFUv5OQ6DaaG16l0PlRcgdtpfxZCb1suwnyd7YlwtqYyzExOp6YFMDWcTm5/EOzlGxIg7AUcTm7/tkKEGTicCpeHMcLY5r7tELYDh9P8DTC9HE7H/hxmgbEBCqzJ6iwBAAA=" />
    <add key="/amdcpu/0/load/5/values" value="H4sIAAAAAAAEACu8UXLmTck1j9YLzY4LRbOZGICgNIndsf54FphttVHYsQHKvtHJiyI+4R2EPfeGJFzvnBsvHZSbWZlB7PKkiY4A4QsDHGAAAAA=" />
    <add key="/amdcpu/0/load/6/values" value="H4sIAAAAAAAEACu8UXLmTck1j9Y7jxwXimYzMQBB59wdjvXHs8DssqR2xwYo+0ZnL1z8zRE7xwnvYOK8cL3C1oGOys2szCD2tPyNjgBJLsIPYAAAAA==" />
    <add key="/amdcpu/0/load/4/values" value="H4sIAAAAAAAEAHOSYOzyfnLNg4HhwP9rm1sZGYAg8n+eQ9mGeCYGMDhhv+tAEpQ9zV5uFoQtYu3uIKILE/9lPzUHwtY5Pc0+wATCVi9zs6++lAhmN/B42L8rgIgfPbfOYdmkZIjeA/xOfk8TYXY5uE6Dmtmg5Fg6PxFq5i/7/Vkwuzzs23Ih7E06p+10tkPUOLBNs9dUToa6bap90wKYegYGtz8QduQ0T/vlGxIQ4v+2wpgMtZxHoawAx3WlInBx0QwDONtxJkzcwzFKXBAu3nxCAM4WdheDqzH3bQeH57TURIf5GxDuKZuAYAfkQNxvtXGyPQACN8ksjAEAAA==" />
    <add key="/amdcpu/0/load/3/values" value="H4sIAAAAAAAEAHOSYOzyfnLNg4HhwP9rm1sZGYDAY9ITh7IN8Uwgts7pRIddB5LAbAaGRAe5WVD2AX5HEV2Y+AmHqTkIdoAJlO0g41h9KRHCbljk8K4AptfRcdmkZAj7g4KT31OoGgZ9R9dpUDUKmxxL58PEfznsz4KKN+x22KRyhAXG1lSGmtPQ6dC0AOaGX/Zuf+DusV++IQHKnmbv9m8rmLU6y9KxlvMomD3v2Hv7daUiDDAgmmEApv0mPbF3nIkQjxIXhLI8HJtPCMDFhd3FGGB+N/dtZ4SwxRzmb4C44enFqQ5lE2Du8XAIyIH4K//9LgcAvdPiloABAAA=" />
    <add key="/amdcpu/0/load/2/values" value="H4sIAAAAAAAEAHOSYOzyfnLNg4HhwP9rm1sZGYDAqNrBoWxDPBOIHTntpP2uA0lgNgPDCTu5WRC2ArOYg4guTLzKYWoOhF21/bt9gAmEbbUxzqH6UiKY3cBzwv5dAUT86DlRx2WTksHsq5teOfo9hahZY/3AwXUaRM1hA0/H0vkQcQ/3qfb7syDiDmwn7NtyIWwR66n2OtshatZe/2WvqZwMc6d90wKIGvUyN3u3PxD2Jh1v++UbEuB+cfu3lQEGajmPgumpG2Ls15WKwMXdNGrhbHPfdnD41Hw4aD9/A8zvDAxlExDhE5ADcU9b4il7AIJNa9NcAQAA" />
    <add key="/amdcpu/0/load/1/values" value="H4sIAAAAAAAEAHOSYOzyfnLNg4HhwP9rm1sZGYAg5j+XU9mGeCYQW4ebxXHXgSQwm4FhvYPcLCjbwc9RRBcmXuU4NQfKPhDlGGACE/dwrL6UCGWfcHhXABVv6HRcNikZwk6Qd/J7ClXTYO3oOg2q5sEkx9L5ML1ijvuzYHrfOrTlwthXHHS2I8zXVE6Gq2laAHPDNAe3P3D3OCzfkABl6zu4/dsKZq3y2uZYy3kUzP5ic91xXakIA8z9ohkGDDDgOBMivmrVMscocUGo6AnH5hMCULaYk7C7GFyvuW87ODyPNNc7zt8ADyuHsglJcDcH5EDcn9D51gEAvaYBJ4wBAAA=" />
    <add key="/amdcpu/0/load/0/values" value="H4sIAAAAAAAEALP/yNDl/eSaBwPDgf83b7UyMgCBV6eTY9mGeCYQ+/CGPIddB5LAbIYDGg5ysyDsE8tvOYjoQsUf3HWYmgNha3rscAgwgbBvaF5xqL6UCGZHHIpyeFcAEe+uNXBcNikZzI6OEnTyewpRU7Kc39F1GkSNYU6tY+l8iLha4yKH/VlQexmqHNpyYexEB53tEDV7bhc7aCpDzExRT3doWgBV4/fW3u0PhB0x44T98g0JEDc3dNq7/dvKAGFzOtZyHgUzC/u1HNeVikDEGTwcRDMMwCynSU/sHGdCxENDWR2jxAWhasQcm08IwNnC7mJQ9i8Hc992cHjOPrvLYf4GiBveZXA6lE2AhpuDjENADsT9O/7VOwAAl9kVXIwBAAA=" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEACtartvl/eSaBwPDgf/pez4yMgABz9Iah+02yUwg9oHaGoeq/wlgtsikGod7VhDxFJkaB7e6JDD7inaNQ9CJRDD7hUOtg6cCRHxGeK1DTxOE/WR2rcOKKqj6G9UOy/kh7B6VIofHORB2x+Z8h0RviPk1chUOExwgZj45VuHA+weipmBepcP/Hog4y95KB7NJEPEWuSqHCY8g7AMvKh3k30PUeNyvdGDeARHf8KjSQVcGwhZ4CjTnqwKIyWDwutJhm9QxMNvjY6WDzwMDMLsGyC72FgGzY4DsE3+EweyIt5UOH98LgNkNQLbdVDEwewaQHXhLEMxmeVXpcK1NEmzXDiB7hSrEXx+A7Om8KWD2CakqBwDVwhpJgAEAAA==" />
    <add key="/amdcpu/0/clock/5/values" value="H4sIAAAAAAAEADsyu/TMm5JrHl3PU1wXiGYzMQDBnJmZrg3Hs8DsvqcprvVQ9jrfPLh4nWGC64R3EPZsoHqYXpC4SjMrM4g9FygOAKw3nR5gAAAA" />
    <add key="/amdcpu/0/clock/6/values" value="H4sIAAAAAAAEALtyqPTMm5JrHmXPU1wXimYzMQDBnJmZrvXHs8Dsvqcprg1Q9gQgGya+xjfPdcI7CLvnKULvXKBelWZWZhgbAKqqeYVgAAAA" />
    <add key="/lpc/it8721f/voltage/0/values" value="H4sIAAAAAAAEAGPJ5T/7puSaRxifqcNC0WwmBiA4vdDUQeHuVRYYu+F4Flj80yVTh3ooGyQ+4R2EXWtv6gAAX532bEgAAAA=" />
    <add key="/lpc/it8721f/voltage/1/values" value="H4sIAAAAAAAEAGPJ5T/7puSax6MqE4eFotlMDEDAscbEYcK7LDA757kxnK1/18Sh4TiEvcvTxKH+OEIcpgakFwB5TZ0uVAAAAA==" />
    <add key="/lpc/it8721f/voltage/2/values" value="H4sIAAAAAAAEAGPJ5T/7puSahxfPIvuFotlMDEAg3LzAfsK7LDD798qFcDZIvOE4hC0TtcS+/ngWhvrbP+fZAwCnJp4xVAAAAA==" />
    <add key="/lpc/it8721f/voltage/3/values" value="H4sIAAAAAAAEAGPJ5T/7puSax5+VF+0XimYzMQDBOveL9hPeZYHZIHGBbVdZYOz641kYakBsAK2oh6JIAAAA" />
    <add key="/lpc/it8721f/voltage/4/values" value="H4sIAAAAAAAEAGPJ5T/7puSaB9d1Z4eAgkY+BiAAsQEEvzsLGAAAAA==" />
    <add key="/lpc/it8721f/voltage/5/values" value="H4sIAAAAAAAEAGPJ5T/7puSaxzp3RYeAgkY+BiAAsQH9fk+bGAAAAA==" />
    <add key="/lpc/it8721f/voltage/6/values" value="H4sIAAAAAAAEAGPJ5T/7puSaxxQJFoeAgkY+BiAAsQGHEbcdGAAAAA==" />
    <add key="/lpc/it8721f/voltage/7/values" value="H4sIAAAAAAAEAGPJ5T/7puSaR/OBU/YBBY18DEAAYgMAg3a8RhgAAAA=" />
    <add key="/lpc/it8721f/voltage/8/values" value="H4sIAAAAAAAEAGPJ5T/7puSaB1tjqENAQSMfAxCA2AC7c3WgGAAAAA==" />
    <add key="/lpc/it8721f/temperature/0/values" value="H4sIAAAAAAAEAGPJ5T/7puSaBwODj9PBTw7sDGDg49RwPIsJwvZ2qoezPZwmvEOwAcRoC0g8AAAA" />
    <add key="/lpc/it8721f/temperature/1/values" value="H4sIAAAAAAAEAGPJ5T/7puSaBwODhlNAQSMfAxhoOAEApQ9SiBgAAAA=" />
    <add key="/lpc/it8721f/temperature/2/values" value="" />
    <add key="/lpc/it8721f/fan/0/values" value="H4sIAAAAAAAEAGPJ5T/7puSah/LFBpeFotlMDEAw6UiDy4R3WWB2wCsE+9+3BpeG4xC2Vm6DSz2UPSu0Dq7mpk2dCwAcp0woVAAAAA==" />
    <add key="/lpc/it8721f/fan/1/values" value="H4sIAAAAAAAEAGPJ5T/7puSaBwMQBBQ08jFAAQC9wzFuGAAAAA==" />
    <add key="/lpc/it8721f/fan/2/values" value="H4sIAAAAAAAEAGPJ5T/7puSaR4FQuctC0WwmBiDY61DuMuFdFpg9XxPBfhte7tJwHMLesq3MpR7KrmEqhatZ+LrEBQBc0+8KVAAAAA==" />
    <add key="/lpc/it8721f/fan/3/values" value="" />
    <add key="/lpc/it8721f/fan/4/values" value="" />
    <add key="/lpc/it8721f/control/0/values" value="" />
    <add key="/lpc/it8721f/control/1/values" value="H4sIAAAAAAAEAGPJ5T/7puSaBwMQBBQ08jFAAQC9wzFuGAAAAA==" />
    <add key="/lpc/it8721f/control/2/values" value="" />
    <add key="/amdcpu/0/clock/4/values" value="H4sIAAAAAAAEADt7mrPL+8k1DwaGA/+3WdYxMgBBDrOH68IN8Uwg9nkGD9el+5PA7EtA9tuZEPYFIPvlzCMsMLaoKUT8IpD97VIiXI3zdITejuxkuJlHniTC2fnTEWYemwcRPwdkp2Qj9GbmItREbEOY/08JYWbMfIT6rL9JcPEVGxLg6l3/bQUxGa4C2TVcR8HsK0D2+rkT4ew6n3ZGmBsWbkCYUz0R4UevbIQbANdKZ9tEAQAA" />
    <add key="/amdcpu/1/load/0/values" value="H4sIAAAAAAAEAFt5VbzL+8k1DwaGA/9v6RcwMgDBLLVmx4Ub4plA7Gmqmg5L9yeB2SeMftm/nQlhMzxY7eCqA2UzrHdYkgtlK2xyEDWFsOsqVjh8u5QIEU9oc3CeDlXzgd2xIzsZzH6zhMXpyBOImoMHJBzzoWqOzstwPDYPIr4hdo5DSjZU7wFHh0yYXQ4yDhHbIGocjjk6/FOCmLknQ8whZj7UzX4hDll/IWwdM06HFRsSIGoMftu7/tsKNibH2suxhusomN2a9tthUqkImB0aau7IlWEAZk9SkXU8MwMivnpVhKOHuCDE6wxVjldPCEDVszpquYtBxRMd63zaweFpfWOFw8INUDc3cDpUT4SxlRy8siHu10j3dQAACXSAZ4wBAAA=" />
    <add key="/amdcpu/1/load/1/values" value="H4sIAAAAAAAEAFt5VbzL+8k1DwaGA/9v6RcwMgDB4hV8Tgs3xDOB2NNSxRyW7k8CsyOnedq/nQlhMzR0OrjqQNkM+g5LcmHsRAdRUwh7yZ4Oh2+XEqHiJ+ydp8PUiDl2ZCeD2TdefnU88gSi5v3v3w75UDVJ6daOx+ZBxKc9XeSQkg3T6+GQCbfrhH3ENogaBWZ9h39KEDN9z4k5xMyHqWFgyPoLY/+yX7EhAWaOveu/rTAlDDVcR8H0A/aN9pNKReDichJhcPbVEwJQloejlrsYXLzOp50RZv7CDTC7ptlXT0SwvbIh7gxxnGoPANuGsCx0AQAA" />
    <add key="/amdcpu/1/load/2/values" value="H4sIAAAAAAAEAPv/W7zL+8k1DwaGA/9bOAsYGYBA6fhG+4Ub4pkYwOCE3dL9STC2/duZUHbDIgdXHRh7t8OSXJiaKgdRUxh7msO3S4lQtoeD83SY+isOHdnJYPaNkzcdjzyBqOlLPumQD1Vz1C/X8dg8iLjOaQ+HlGyEGzLhdiU6RGyDqPE9J+bwTwliZuQ0T/uY+RA16mXH7LP+wtR72K/YkAA1c5q967+tDDAza7iOMsDA+rkT4ew6n3ZwmFj8mAQME7i/7KsnIsz0yoa4YZPOaTsAXcAK+lABAAA=" />
    <add key="/amdcpu/1/load/3/values" value="H4sIAAAAAAAEAPv/W7zL+8k1DwaGA/9bOAsYGYCgLVHCYeGGeCYGMPCwX7o/CcqeZv92JpTd0OngqoNgL8mFqRFzEDWFsRMdvl1KhOt1ng5T/9ahIzsZzFY3Y3E68gSi5octi2M+TI1DuuOxeRBxB7ZpDinZMDP1HTLhdp2wi9gGURPi+NP+n1IyVP0v+5j5CDVZfyFsvzdH7FZsSICKMzC4/tsKpiepyDrWcB0Fs3/9+mU3qVQEpoRBVqMWzq7zaWeEhcnCDXDz7asnJsHN9MqGuEeB2cMBAAhow71cAQAA" />
    <add key="/amdcpu/1/load/4/values" value="H4sIAAAAAAAEAONVlujyfnLNg4HhwP+yR/mMDEDQpHDRceGGeCYQO2nGQ4el+5PAbIaGToe3M6Fshl8OrjpQ9gF+xyW5MHEPR1FTCHttEKfjt0uJUHF9R+fpMPUajh3ZyWD2xmY1pyNPIGpCRWsc86Fqypw6HY/Ng4hHqV5xSMmGmT/NITMX4Z6IbRA1pcGLHP4pQcx8vbXTIWY+VI2DqWPWXwi7a+46hxUbEsDsH7V7HFz/bQUr8dwk41TDdRTMVsx64zipVATMDg01d+LKMACzJ6nIOp2ZARFftSrCyUNcEOIchiqnqycEoOLLHLXcxaDiiU51Pu3g8Nx1ohMYngj3V0+EuY3Z0Ssb4v5zKUyOANSZvOCMAQAA" />
    <add key="/amdcpu/1/temperature/0/values" value="" />
    <add key="/amdcpu/1/clock/0/values" value="" />
    <add key="/amdcpu/1/clock/1/values" value="H4sIAAAAAAAEADP6It3l/eSaBwPDgf+F8TmMDEBwjMHDddGGeCYQ+yKQvXR/Eph9Ach+PxPBdtWFsM8D2QtykuDqJU0g7HNANte1RLj6i1Mg4peA7CPZyXDxR08S4eJ1UPPPAtmhcxLhZh7LRpjfm4uwV30bwnwe5WS4OQ0LEO5U+41wz4mNCXDxkP9bQUyGe0B2LudRMPsWkL127kQ4u96nnRGmd9EGhBuqJiLM985GuBMAgYQipVABAAA=" />
    <add key="/amdcpu/1/clock/2/values" value="H4sIAAAAAAAEADP6It3l/eSaBwPDgf+T1uYwMgDBMQYP1wUb4plA7ItA9vL9SWD2BSD73UwE21kXwj4PZC/OSYKrFzWFsM8B2VxXE+HqN02BiF8CsldmJ8PFFZ4mwsUnzYCoOQtk+85LhJu5Kwthflcuwt78bQjzFyglw81ZvgDhzqTfCPd0b0yAi7v93wpiMtwDsis5j4LZt0B6506Eszt92hlhevvWI9zQPQlhvk82wp0AQ5ImcFABAAA=" />
    <add key="/amdcpu/1/clock/3/values" value="H4sIAAAAAAAEAHOSlunyfnLNg4HhwP9FV3IYGYDgGIOH64IN8Uwg9kUge/n+JDD7ApD9ZiaCbaoDYZ8HsrfkJsHVi5hC2OeAbJ6riXD1q6dAxC8B2RXZyXDx608S4eIPZkDUnAWyi+Ylws08loUwvyAHYa/BdoT5B4SSEeZsQLjT7Q/CPSs2JMDFrf5tBTEZ7gHZrVxHwexbQPbSuRPh7BLvdkaY3m0bEW7In4AwPzwH4U4AelrwCVABAAA=" />
    <add key="/amdcpu/1/clock/4/values" value="H4sIAAAAAAAEAHOSlunyfnLNg4HhwP9DSrmMDEBwjMHDdeGGeCYQ+yKQPXNfEph9AcjWmI1gy+hA2OeB7Nm5SXD1liYQ9jkg+8XVRLh67akQ8UtAtmF2Mlx895NEuPijmRA1Z4Hs8LmJcDMPZyHML81B2Bu6A2H+v18I86uPI9zp8gfhnuUbEuDiyf+3gpgM94DsWM6jYPYtIPvCnIlwdqxvOyNM74INCDfUTkSY75WNcCcAeUuWDFABAAA=" />
  </appSettings>
</configuration>